{% extends 'home.html' %}
{% load my_tags %}
{% block content %}


<div class="row text-center">
    {% for product in products %}
        <div class="col-3">

            <div class="card mb-4 box-shadow">
                <div class="card-header">

                    <img src="{{ product.image | media_filter }}" class="img-thumbnail">
                </div>
                <div class="card-body">
                    <h4 class="my-0 font-weight-normal">{{product.name}}</h4>
                    <h5 class="card-title pricing-card-title"></h5>
                    <h5 class="card-title pricing-card-title">{{product.price}} руб.</h5>
                    <a class="btn btn-primary" href="{% url 'catalog:products_detail' product.pk %}" role="button">Посмотреть</a>

                </div>
            </div>

        </div>
    {% endfor %}
    </div>
{% endblock %}