{% extends 'catalog/home.html' %}
{% load my_tags %}
{% block content %}

{% include 'catalog/includes/inc_header.html' %}
<div class="row text-center">
    {% for product in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <img src="{{ product.image | media_filter }}" class="img-thumbnail">
                </div>
                <div class="card-body mb-4">
                    <h4 class="my-0 font-weight-normal">{{product.name}}</h4>
                    <h7 class="my-0 font-weight-normal">{{ product.description |truncatechars:100 }}</h7>
                    {% if user.is_authenticated%}
                    <div class="card-body mb-4">
                        <a class="btn btn-primary btn-sm" href="{% url 'catalog:products_detail' product.pk %}" role="button">Посмотреть</a>
                        {% if perms.catalog.can_unpublish_product or product.owner == object.user.email %}
                            <a class="btn btn-primary btn-sm" href="{% url 'catalog:products_update' product.pk %}" role="button">Редактировать</a>
                        {% endif %}
                        {% if perms.catalog.delete_product or product.owner == object.user.email %}
                            <a class="btn btn-danger btn-sm" href="{% url 'catalog:products_delete' product.pk %}" role="button">Удалить</a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}